 *{
   padding:0;
   margin:0;
   box-sizing: border-box;
}
.container{
display: flex;
justify-content: center;
margin: 100px auto;
}
.card{
   height: 400px;
   width: 300px;
   background-color: wheat
}
.card h2{
    text-align: center;
}
.card ul li{
    list-style:none;
    font-size: 18px;
    padding: 10px;
    margin-left:10px;
}
.card-image{
    background-color: aqua;
    height: 190px;
    background-image: url("../resources/1496857460lionel-messi-png-2017.png");
    background-size: cover;
    margin-bottom: 10px;
}
