background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://cdn.pixabay.com/photo/2020/04/02/11/37/football-pitch-4994688_960_720.jpg);
background-size: cover;
}


/* header {
background-color: white;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
}


ul{
display:inline-flex;
margin-left: 5px;
list-style-type: none;
align-items: flex-end;
} */

.header_logo{
height: max-content;
padding: 3px;
font-family: 'Montserrat', sans-serif;
color: antiquewhite;
margin-left: 10px;
width: 50px;
}


header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
height:max-content;
}



.top_nav_home{
list-style-type: none;
}

.topnav_search{
border: none;
padding: 0.4rem;
display: inline-block;
}
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://cdn.pixabay.com/photo/2020/04/02/11/37/football-pitch-4994688_960_720.jpg);
background-size: cover;
}


/* header {
background-color: white;
position: fixed;
top: 0;
left: 0;
right: 0;
height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
}


ul{
display:inline-flex;
margin-left: 5px;
list-style-type: none;
align-items: flex-end;
} */

.header_logo{
height: max-content;
padding: 3px;
font-family: 'Montserrat', sans-serif;
color: antiquewhite;
margin-left: 10px;
width: 50px;
}


header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: black;
height:max-content;
}



.top_nav_home{
list-style-type: none;
}

.topnav_search{
border: none;
padding: 0.4rem;
display: inline-block;
}
