 *{
   padding:0;
   margin:0;
   box-sizing: border-box;
}

body{
    background-color: rgba(255, 255, 255, 0);
}

.container{
    
}
.card{
   height: relative;
   width: 300px;
   background-color: wheat;
}

.card h2{
    text-align: center;
}

.card ul{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.card ul li{
    list-style:none;
    font-size: 18px;
    padding: 10px;
    margin-left:10px;
}
.card-image{
    background-color: aqua;
    height: 250px;
    background-image: url("https://images.hindustantimes.com/img/2022/12/11/1600x900/WCup-Portugal-Switzerland-Soccer-486_1670481609197_1670481609197_1670736591154_1670736591154.jpg");
    background-size: cover;
    margin-bottom: 10px;
}


.card button {
    background-color:#00ffa1;
    padding: 1rem;
    font-size: 1rem;
    font-weight:bold;
    text-align: center;
}
