<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addPlayer.css">
    <title>Document</title>
</head>
<body>
    <div id="form-container">
    <form action="addnewplayertodb">
        <input type="number" placeholder="pid" name="pid"><br>
        <input type="text" placeholder="pname" name="pname"><br>
        <input type="text" placeholder="position" name="position"><br>
        <input type="text" placeholder="country" name="country"><br>
        <input type="text" placeholder="rating" name="rating"><br>
        <input type="text" placeholder="image" name="image"><br>
        <button type="submit">Submit</button>
    </form>
    </div>
</body>
</html>