<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="globalplayers.css">
    <link rel="stylesheet" href="playerCard.css">
</head>
<body>
    
    <section >

        <ul id="plist" class="player-list">
            {{!-- <li>
                {{!-- <div class="card">
                    <div id="card-image" class="card-image">
                    </div>
                    <h2 id="pname">Ronaldo</h2>
                    <ul>
                        <li id="pPosition" class="list">position</li>
                        <li id="pCountry" class="list">Country</li>
                        <li id="pRating" class="list">Ratings</li>
                    </ul>
                </div> --}}
            </li> --}}
            


            
            
        </ul>

    </section>


    <script src="globalplayers.js"></script>


</body>
</html>