<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newManager.css">
    <title>Football Manager Ultimate</title>
</head>
<body>
    
    <div class="leftImage">
        <img src="manager2.png" alt="">
    </div>


    <div class="rightform">

        <div class="formFields">
            <form class="formchild" action="" method="">
                <h1  class="form-heading">ğ„ğ§ğ­ğğ« ğŒğšğ§ğšğ ğğ« ğğšğ¦ğ</h1>
                <input class="form-input"type="text" name="Manager name" id="">
                <input type="text" placeholder="Enter Club Name">
                <button  id="btnSubmitname" class="form-submit">Submit</button>
            </form>
        </div>
        
        
    </div>


    <script src="newManager.js"></script>


</body>
</html>