<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newManager.css">
    <title>Football Manager Ultimate</title>
</head>
<body>
    
    <div class="leftImage">
        <img src="manager2.png" alt="">
    </div>


    <div class="rightform">

        <div id="f1"class="formFields">
            <form class="formchild" action="/managerinputs" method="">
                <h1 id="formHeading"  class="form-heading">ğ„ğ§ğ­ğğ« ğŒğšğ§ğšğ ğğ« ğğšğ¦ğ</h1>
                <input class="form-input"type="text" name="managername" placeholder="Enter manager name" id="" required>
                <input class="form-input"type="text" name="uid" placeholder="Enter UID" id="" required>
                <button  id="btnSubmitname" class="form-submit">Submit</button>                
            </form>
        </div>

        {{#if minput}}
            <script>
                let formfield = document.getElementById("f1");
                let formfield2 = document.getElementById("f2");

                formfield.style.display = "none";
                formfield2.style.display = "block";
            </script>

        {{/if}}

        <div id="f2" class="formField2">
            <form class="formchild" action="/clubinputs" method="">
                <h1 id="formHeading"  class="form-heading">ğ„ğ§ğ­ğğ« Club Details</h1>
                <input class="form-input"type="text" name="clubname" placeholder="Enter Club name" id="" required>
                <input class="form-input"type="text" name="clubformation" placeholder="Enter Club Formation" id="" required>
                <input class="form-input"type="text" name="mid" placeholder="Enter Manager id" id="" required>
                <button  id="btnSubmitname" class="form-submit">Submit</button>                
            </form>
        </div>

        {{!-- {{#if minputErr}}
            <script>
                alert("Enter valid Details")
            </script>
        {{/if}}

        {{#if minput}}
        <script>
            let formfield = document.getElementsByClassName("formFields");
            let formfield2 = document.getElementsByClassName("formField2");

            formfield.style.display = "none";
            formfield2.style.display = "flex";
        </script>

        {{/if}} --}}
        
        
    </div>


    {{!-- <script src="newManager.js"></script> --}}


</body>
</html>