<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Contract</title>
    <link rel="stylesheet" href="signContract.css">
    <link rel="stylesheet" href="playerCard.css">


</head>
<body>

    <div class="maindiv">

        <div class="card">
          <div id="player-image" class="card-image">
        </div>
        <h2 id="player-name">Messi</h2>
         <ul>
            <li id="player-country" class="list">Country:Argentina</li>
            <li id="player-position" class="list">Position:La Cruqeta</li>
            <li id="player-rating" class="list">Rating:5</li>
         </ul>
        </div>


        <div id="f2" class="formField2">
            <form class="formchild" action="/clubinputs" method="">
                <h1 id="formHeading"  class="form-heading">ğ„ğ§ğ­ğğ« Player Position</h1>
                <select name="position" class="form-input" >
                    <option value="gk">Goal Keeper</option>
                    <option value="lb">Left Back</option>
                    <option value="lcb">Left Center back</option>
                    <option value="rcb">Right Center Back</option>
                    <option value="rb">Right Back</option>
                    <option value="lm">Left Mid</option>
                    <option value="cm">Center Mid</option>
                    <option value="rm">Right Mid</option>
                    <option value="lw">Left Wing</option>
                    <option value="rw">Right Wing</option>
                    <option value="st">Striker</option>
                    <option value="sub1">Sub 1</option>
                    <option value="sub2">Sub 2</option>
                    <option value="sub3">Sub 3</option>
                    <option value="sub4">Sub 3</option>
                </select>
                <button  id="btnSubmitname" class="form-submit"><a href="/signplayerwithpos">Sign Contract</a></button>                
            </form>
        </div>

        



    </div>


{{!-- confetti  --}}

  <div class="confetti-land">
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  <div class="confetti"></div>
  </div>





    <script src="signContract.js"></script>
</body>
</html>