<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="teamFormation.css">
</head>

<body>`
	<header>
		S<i class="fa fa-futbol-o" style="font-size: 22px;"></i>ccer Formations
	</header>
	<main>


		<div class="pitch">
			<h4>4-4-2</h4>
			<div class="container">
				<div class="box1">
					<div class="pen1">
						<div class="pos" id="p1" style="margin: 5px 15px;"><img src="soccer-jersey-svgrepo-com.svg"></div>
					</div>
				</div>
				<div class="pos"  id="p2" style="margin: 120px 53px"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" id="p3" style="margin: 120px 126px;"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" id="p4" style="margin: 120px 186px"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 120px 258px"><img src="soccer-jersey-svgrepo-com.svg"></div>

				<div class="pos" style="margin: 250px 53px"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 250px 126px"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 250px 186px"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 250px 258px"><img src="soccer-jersey-svgrepo-com.svg"></div>

				<div class="pos" style="margin: 350px 126px;"><img src="soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 350px 186px;"><img src="soccer-jersey-svgrepo-com.svg"></div>

				<div class="half"></div>
				<div class="box2">
					<div class="pen2"></div>
				</div>
			</div>
		</div>
		<!--442-->
		<main>



			<!-- player Card-->

<div id="card" class="card-container">
	<div class="card" >
		<div class="card-image" id="player-image">
	  </div>
	  <h2 id="player-name"></h2>
	   <ul>
		  <li class="list" id="player-club"></li>
		  <li class="list" id="player-country"></li>
		  <li class="list" id="player-skills"></li>
		  <li class="list" id="player-rating"></li>
	   </ul>
	  </div>
</div>
			


			  <script src="formation.js"></script>
</body>