<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/teamFormation.css">
</head>

<body>`
	<header>
		S<i class="fa fa-futbol-o" style="font-size: 22px;"></i>ccer Formations
	</header>
	<main>


		<div class="pitch">
			<h4>4-4-2</h4>
			<div class="container">
				<div class="box1">
					<div class="pen1">
						<div class="pos" style="margin: 5px 15px;"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
					</div>
				</div>
				<div class="pos" style="margin: 120px 53px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 120px 126px;"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 120px 186px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 120px 258px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>

				<div class="pos" style="margin: 250px 53px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 250px 126px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 250px 186px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 250px 258px"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>

				<div class="pos" style="margin: 350px 126px;"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>
				<div class="pos" style="margin: 350px 186px;"><img src="./resources/soccer-jersey-svgrepo-com.svg"></div>

				<div class="half"></div>
				<div class="box2">
					<div class="pen2"></div>
				</div>
			</div>
		</div>
		<!--442-->
		<main>



			<!-- player Card-->


			<div class="card">
				<div class="card-image">
			  </div>
			  <h2>Messi</h2>
			   <ul>
				  <li class="list">Club:PSG</li>
				  <li class="list">Country:Argentina</li>
				  <li class="list">Skills:La Cruqeta</li>
				  <li class="list">Rating:5</li>
			   </ul>
			  </div>


</body>